# BMP280 temperature and pressure sensor configuration options

# Copyright (c) 2016 Intel Corporation
# Copyright (c) 2017 IpTronix S.r.l.
# SPDX-License-Identifier: Apache-2.0

menuconfig ICP10125
	bool "ICP10125/BMP280 sensor"
	depends on I2C || SPI
	help
	  Enable driver for ICP10125 I2C-based or SPI-based temperature and pressure sensor.

if ICP10125

choice
	prompt "ICP10125 sampling mode"
	default ICP10125_MODE_NORMAL
	help
	  Select sampling mode. In normal mode continuous measurements are
	  performed, whereas in forced mode only single measurement is performed.
config ICP10125_MODE_NORMAL
	bool "normal"
config ICP10125_MODE_FORCED
	bool "forced"
endchoice

choice
	prompt "ICP10125 temperature oversampling"
	default ICP10125_TEMP_OVER_2X
	help
	  Select temperature oversampling for the ICP10125 sensor.  Higher values
	  lead to more accurate readings, but higher power consumption.
config ICP10125_TEMP_OVER_1X
	bool "x1"
config ICP10125_TEMP_OVER_2X
	bool "x2"
config ICP10125_TEMP_OVER_4X
	bool "x4"
config ICP10125_TEMP_OVER_8X
	bool "x8"
config ICP10125_TEMP_OVER_16X
	bool "x16"
endchoice

choice
	prompt "ICP10125 pressure oversampling"
	default ICP10125_PRESS_OVER_16X
	help
	  Select pressure oversampling for the ICP10125 sensor.  Higher values
	  lead to more accurate readings, but higher power consumption.
config ICP10125_PRESS_OVER_1X
	bool "x1"
config ICP10125_PRESS_OVER_2X
	bool "x2"
config ICP10125_PRESS_OVER_4X
	bool "x4"
config ICP10125_PRESS_OVER_8X
	bool "x8"
config ICP10125_PRESS_OVER_16X
	bool "x16"
endchoice

choice
	prompt "ICP10125 humidity oversampling"
	default ICP10125_HUMIDITY_OVER_16X
	help
	  Select humidity oversampling for the ICP10125 sensor.  Higher values
	  lead to more accurate readings, but higher power consumption.
config ICP10125_HUMIDITY_OVER_1X
	bool "x1"
config ICP10125_HUMIDITY_OVER_2X
	bool "x2"
config ICP10125_HUMIDITY_OVER_4X
	bool "x4"
config ICP10125_HUMIDITY_OVER_8X
	bool "x8"
config ICP10125_HUMIDITY_OVER_16X
	bool "x16"
endchoice

choice
	prompt "ICP10125 standby time"
	default ICP10125_STANDBY_1000MS
	help
	  Select standby time between measurements for the ICP10125 sensor.
	  Higher values lead to lower power consumption.
config ICP10125_STANDBY_05MS
	bool "0.5ms"
config ICP10125_STANDBY_62MS
	bool "62.5ms"
config ICP10125_STANDBY_125MS
	bool "125ms"
config ICP10125_STANDBY_250MS
	bool "250ms"
config ICP10125_STANDBY_500MS
	bool "500ms"
config ICP10125_STANDBY_1000MS
	bool "1000ms"
config ICP10125_STANDBY_2000MS
	bool "2000ms BMP280 / 10ms ICP10125"
config ICP10125_STANDBY_4000MS
	bool "4000ms BMP280 / 20ms ICP10125"
endchoice

choice
	prompt "ICP10125 filter coefficient"
	default ICP10125_FILTER_4
	help
	  Select the filter coefficient for the ICP10125 sensor.
config ICP10125_FILTER_OFF
	bool "filter off"
config ICP10125_FILTER_2
	bool "2"
config ICP10125_FILTER_4
	bool "4"
config ICP10125_FILTER_8
	bool "8"
config ICP10125_FILTER_16
	bool "16"
endchoice

endif # ICP10125
