/*
 * Copyright (c) 2020, Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Example configuration of a ICP10125 device on an Arduino I2C bus.
 *
 * Device address 0x77 is assumed. Your device may have a different
 * address; check your device documentation if unsure.
 */
&i2c0 {
	status = "okay";
	icp10125@63 {
		compatible = "tdk,icp10125";
		reg = <0x63>;
		label = "ICP10125_I2C";
		op-mode-t = "normal";
		op-mode-p = "normal";
	};
};
